:root {

  --palette-1-formal: #029C94;
  --palette-2-formal: #036DC4;
  --palette-3-formal: #020A9C;
  --palette-4-formal: #5A03C4;
  --palette-5-formal: #94029C;
  --palette-6-formal: #C4036D;
  --palette-7-formal: #9C020A;
  --palette-8-formal: #C45A03;
  --palette-9-formal: #9C9402;
  --palette-10-formal: #6DC403;
  --palette-11-formal: #0A9C02;
  --palette-12-formal: #03C45A;

  --palette-1-rgb-formal: 2, 156, 148;
  --palette-2-rgb-formal: 3, 109, 196;
  --palette-3-rgb-formal: 2, 10, 156;
  --palette-4-rgb-formal: 90, 3, 196;
  --palette-5-rgb-formal: 148, 2, 156;
  --palette-6-rgb-formal: 196, 3, 109;
  --palette-7-rgb-formal: 156, 2, 10;
  --palette-8-rgb-formal: 196, 90, 3;
  --palette-9-rgb-formal: 156, 148, 2;
  --palette-10-rgb-formal: 109, 196, 3;
  --palette-11-rgb-formal: 10, 156, 2;
  --palette-12-rgb-formal: 3, 196, 90;

  --palette-1-informal: #ABF877;
  --palette-2-informal: #9EFAA7;
  --palette-3-informal: #77F8C4;
  --palette-4-informal: #9EF1FA;
  --palette-5-informal: #77ABF8;
  --palette-6-informal: #A79EFA;
  --palette-7-informal: #C477F8;
  --palette-8-informal: #FA9EF1;
  --palette-9-informal: #F877AB;
  --palette-10-informal: #FAA79E;
  --palette-11-informal: #F8C477;
  --palette-12-informal: #F1FA9E;

  --palette-1-rgb-informal: 171, 248, 119;
  --palette-2-rgb-informal: 158, 250, 167;
  --palette-3-rgb-informal: 119, 248, 196;
  --palette-4-rgb-informal: 158, 241, 250;
  --palette-5-rgb-informal: 119, 171, 248;
  --palette-6-rgb-informal: 167, 158, 250;
  --palette-7-rgb-informal: 196, 119, 248;
  --palette-8-rgb-informal: 250, 158, 241;
  --palette-9-rgb-informal: 248, 119, 171;
  --palette-10-rgb-informal: 250, 167, 158;
  --palette-11-rgb-informal: 248, 196, 119;
  --palette-12-rgb-informal: 241, 250, 158;
}



    body {
      font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #222;
    }



    #header {
      text-align: center;
      padding: 10px 20px 0 20px;
      color: white;
    }


    #mynetwork {
      width: 99vw;
      height: 85vh;
      border: 1px solid lightgray;
    }




    /*display buttons*/

    div#buttonRow.me {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }


    .button {
      position: relative;
      margin: 0 5px 0 0;
      padding: 10px 15px;
      border: 1px solid #CCC;
      text-align: center;
      width: 250px;
      height: 20px;
    }

    .button label,
    .button input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 2px;
    }

    .button input[type="radio"] {
      opacity: 0.011;
      z-index: 100;
    }

    .button input[type="radio"]:checked + label {
      background: #20b8be;
      border-radius: 4px;
    }

    .button label {
      cursor: pointer;
      z-index: 90;
      line-height: 2em;
      background-color: white;
    }



    /* bottom info */
    #legendOverlay {
      position: fixed;
      bottom: 9px;
      left: 9px;
      right: 9px;

      pointer-events: none;
    }


    .legendRows {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    #legend, 
    #urlContainer {
      background-color: rgba(150,150,150,.9);
      display: flex;
      padding:10px 15px;
      align-items: stretch;
      border-radius: 10px 10px 0px 0px;
    }


    #legend {display: none;}


    /* talent continers */
    #urlContainer {
      pointer-events: auto;
      margin-right: 10px;
    }


    #urlContainer a {
      margin-right: 5px;
    }

    #urlContainer a:last-child {
      margin-right: 0;
    }

#talentName,
#youtubeLink,
#twitchLink {
  text-decoration: none;
}


    .talentButton {
      padding: 0 15px;
      height: 44px;
      background: #20b8be;
      color: black;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .talentButton span {
      display: inline-block;
      align-content: center;
    }


    .talentContainer a:last-child {
      margin-right: 0;
    }


    .name {
      font-size: 20px;
      font-weight: bold;
      align-self: center;
    }



    /* legend containers */

    .legendEntry {
      align-self: center;
      margin-right: 25px;
      text-align: center;
      display: flex;
    }


    .legendEntry svg {
      margin-right: 10px;
    }

    .legendEntry:last-child {
      margin-right: 0px;
    }



/* D3 specific layout */


#mynetwork {
  width: 100%;
  height: 85vh;
  border: 1px solid #444;
  background: #333;
}

.node text {
  pointer-events: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
}

.link {
  stroke-opacity: 0.5;
}

.node rect {
  stroke: #000;
  stroke-width: 1px;
  rx: 6px;
}

.node circle {
  stroke: #000;
  stroke-width: 1px;
}

